.formContainer {
    background-color: rgb(255, 150, 150);
    padding: 20px;
}

.formControl {
    padding: 8px;
}

.formControl label {
    font-weight: bold;
    padding-right: 20px;
}

.formContainer input {
    padding: 8px;
    border: none;
}

.button {
    background-color: rgb(54, 157, 54);
    color: white;
    margin-top: 20px;
}